# See http://help.github.com/ignore-files/ for more about ignoring files.

# npm analytics
/9999

# compiled output
/dash
/tmp
/dist

# dependencies
/node_modules
/dist

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
*.log

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
test.cache.json
